<div class="well m-4 fs-5 mx-auto w-50 p-4">
<h2><%= @post.title%></h2>
<p><%= @post.body%></p>
<hr>
 <%= link_to "Edit Post", edit_post_path(@post), {:class => "text-decoration-none text-success"}%>
 <%= link_to "Delete Post",post_path(@post), 
                        method: :delete,
                        data: {confirm: "Are you sure?"},
                            :class => "text-decoration-none text-danger mx-3"%>
 <%# <%= link_to "Add comment", post_comment_path(@post), {:class => "text-decoration-none text-success"}%> 
</div>

<hr>
<%= render "comments/comments"%>
<%= render "comments/comment_form"%>
